<%= form_with(model: @environment) do |form| %>
  <% console %>
  <% @environment.fields.each do |field| %>
    <div>
      <%= form.label :value, field.name %>
      <% if field.suggestions.any? %>
        <%= form.select :value, field.suggestions, {selected: field.value}, {name: "environment[fields][#{field.name}]"} %>
      <% else %>
        <%= form.text_field :value, name: "environment[fields][#{field.name}]", value: field.value %>
      <% end %>
    </div>
  <% end %>
  <%= form.submit %>
<% end %>
